#container {
    position: relative;
    min-height: 100vh;
    background-color: whitesmoke;
    padding-bottom: 1rem;
}

.card-text, li {
    font-size: 14px;
    margin: 0;
}

.card {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #ebebee !important;
    border-radius: 10px !important;
    box-shadow: 2px 2px #ebebee;
    padding: 5px;
}
